@page
@model FinalProject.Pages.Spells.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spell[0].SpellName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell[0].SpellInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spell[0].DamageRoll)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Spell) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpellName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpellInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DamageRoll)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SpellID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SpellID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SpellID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
